@media (max-width: 1024px) {
  .container .links {
    display: none;
  }

  .hero .container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-img {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
  }
  .hero-content {
    width: 100%;
    clear: both;
    margin-left: 0;
  }
  .specifications .container .specifications-foot {
    width: 50%;
  }
  .customer-reviews .container .stats {
    width: 100%;
    position: static;
  }
  .review-cards {
    width: 100%;
  }
  .related-products .container .product-container .product-card {
    width: 46%;
  }
  .related-products .more-product button {
    width: 40%;
  }
  footer .container .card {
    width: 50%;
  }
  footer .end-container p,footer .end-container .creditcard-img{
    float: none;
    text-align: center;
  }
  .footer .end-container{
    padding-bottom: 15px;
  }
}

@media (max-width: 770px) {
  .related-products .container .product-container .product-card {
    width: 100%;
  }
}
@media (max-width: 826px) {
  footer .container .card {
    width: 100%;
  }
}
