@media (max-width: 1270px) {
  nav {
    width: 95%;
  }
  nav .svg-nav {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid var(--main-text-color);
    box-shadow: 2px 2px 0 var(--main-text-color);
    background: white;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    color: black;
  }
  nav .svg-nav a {
    text-decoration: none;
    width: 100%;
    text-align: center;
  }
  nav .svg-nav a:visited {
    color: var(--main-text-color);
  }
  nav .svg-nav:hover {
    transform: translateX(-2px) translateY(-2px);
  }
  #mobile-menu:target {
    display: block;
    right: 0;
  }
  nav ul,
  nav button {
    display: none;
  }
  .hero .container {
    width: 95%;
  }
  .latest-articles .container {
    width: 95%;
  }
  .authors .container {
    width: 95%;
  }

  .authors .authors-cards .author-card {
    width: 48%;
  }
  .community .container {
    width: 95%;
  }
  .footer .container .section:nth-of-type(1) {
    width: 100%;
  }
  .footer .container .section:nth-of-type(2) {
    width: 30%;
  }
  .footer .container .section:nth-of-type(3) {
    width: 70%;
  }
  .footer .footer-end {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .footer-end p {
    width: 100%;
    text-align: center;
  }
  .footer .footer-end .terms {
    width: 100%;
    justify-content: center;
    gap: 5%;
  }
}

@media (max-width: 1024px) {
  header .mobile-menu {
    width: 35%;
  }
  .hero .container {
    row-gap: 5vh;
  }
  .hero .container .hero-text {
    width: 100%;
  }
  .hero .container .left-side {
    width: 100%;
    transform: rotate(-3deg);
  }
  .container .left-side .hero-img {
    width: 100%;
  }
  .latest-articles .container .left-side {
    width: 100%;
  }
  .latest-articles .container .right-side {
    width: 100%;
  }
  .card .card-content {
    width: 100%;
  }
  .card .card-content .card-foot p {
    width: 50%;
    flex: 1 1 45%;
  }
  .card .card-content .card-foot {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .latest-articles .left-side button {
    width: 70%;
    height: 55px;
  }
  .authors .authors-cards .author-card {
    flex: 1 1 70%;
    margin-bottom: 20px;
  }
  .authors .authors-cards .author-card .author-img {
    width: 22%;
  }

  .community .container .benfits {
    width: 100%;
    padding: 2px;
  }

  .community .container .rebels-opinion {
    width: 100%;
  }
  .container .benfits .benfit-list .benfit-section {
    column-gap: 2%;
  }
}

@media (max-width: 740px) {
  header .mobile-menu {
    width: 50%;
  }
  .container .hero-text .text-box p {
    font-size: 21px;
  }
  .card .card-content .card-foot p {
    width: 100%;
    flex: 1 1 95%;
  }
  .latest-articles .container .left-side .head p {
    display: none;
  }
  .latest-articles .card .card-content .content-sign {
    padding: 0 10%;
  }
  .authors .authors-cards .author-card .description {
    font-size: 0.9rem;
    margin: 0.5rem auto;
  }
  .community .container .benfits .join-description {
    line-height: 1.7rem;
    font-size: 1rem;
  }
  .container .benfits .benfit-list .benfit-section {
    column-gap: 3%;
  }
  .community .container .benfits .benfit-list .benfit-section p {
    font-size: 0.9rem;
  }
  .footer .footer-end {
    font-size: 0.8rem;
  }
  .footer .footer-end .terms {
    gap: 2%;
  }
  .footer .container .section:nth-of-type(2),
  .footer .container .section:nth-of-type(3) {
    width: 100%;
  }
}
