@media (max-width: 1270px) {
  nav .svg-nav {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid var(--main-text-color);
    box-shadow: 2px 2px 0 var(--main-text-color);
    background: white;
    transition: 0.3s ease;
    cursor: pointer;
  }
  nav .svg-nav:hover {
    transform: translateX(-2px) translateY(-2px);
  }
  nav ul,
  nav button {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hero .container {
    row-gap: 5vh;
  }
  .hero .container .hero-text {
    width: 100%;
  }
  .hero .container .left-side {
    width: 100%;
    transform: rotate(-5deg);
  }
  .container .left-side .hero-img {
    width: 100%;
  }
  .latest-articles .container .left-side {
    width: 100%;
  }
  .latest-articles .container .right-side {
    width: 100%;
  }
  .card .card-content {
    width: 100%;
  }
  .card .card-content .card-foot p {
    width: 50%;
    flex: 1 1 45%;
  }
  .card .card-content .card-foot {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .latest-articles .left-side button {
    width: 70%;
    height: 55px;
  }
  .authors .authors-cards .author-card {
    flex: 1 1 70%;
    margin-bottom: 20px;
  }

}
@media (max-width: 740px) {
  .container .hero-text .text-box p {
    font-size: 21px;
  }
  .card .card-content .card-foot p {
    width: 100%;
    flex: 1 1 95%;
  }
  .latest-articles .container .left-side .head p {
    display: none;
  }
  .authors .authors-cards .author-card .description{
    font-size: .9rem;
    margin: .5rem auto;
  }
}
